$loader-color:               #E02678 !default;
$loader-size:                  12px !default;
$loader-gap:                   10px !default;
$loader-animation-duration:      0.6s !default;

$loader-color2:               #E02678 !default;
$loader-size2:                  5px !default;
$loader-gap2:                   5px !default;
$loader-animation-duration2:      0.6s !default;
